# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual Environments

lab_5/
lab_5/*

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlartifacts/
**/mlruns/
**/mlartifacts/

# VSCode
.vscode/

# OS-specific
.DS_Store
Thumbs.db
